.login-container {
  display: flex;

  .left-panel {
    background: #910D2A;
    height: 700px;
    width: 100%;
    position: relative;

    .page-logo {

      .logo {
        font-family: Montserrat, Montserrat, "sans-serif";
        font-weight: bold;
        font-size: 30px;
        color: #f2f2f2;
        padding: 20px;
      }

    }


    .left-container {
      position: absolute;
      margin: 0 auto;

      .welcome-container {
        position: absolute;
        top: 250px;
        left: 130px;

        .welcome {
          font-family: Montserrat, Montserrat, "sans-serif";
          font-size: 38px;
          color: #ffffff;
          width: 370px;
          height: auto;
          font-weight: bold;
          padding-bottom: 50px;
        }

        .w-body {
          font-family: Montserrat, Montserrat, "sans-serif";
          font-size: 18px;
          color: #ffffff;
          width: 280px;
          height: auto;
        }
      }

    }

  }

  .right-panel {
    height: 700px;
    width: 100%;
    background: #f2f2f2;

    .sign-up-container {

      position: relative;
      margin-left: 10px;
      width: 100%;
      top: 250px;


      .sign-up-header {
        font-family: Montserrat, Montserrat, "sans-serif";
        font-size: 38px;
        color: #910D2A;
        padding-bottom: 20px;
        font-style: italic;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }

      .button-container {
        justify-content: space-between;
        display: flex;
        width: 575px;

        button {
          background: linear-gradient(to bottom, #db3236, #db3236);
          border: 0;
          border-radius: 50px;
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #ffffff;
          height: 55px;
          width: 200px;
          font-family: Montserrat, Montserrat, sans-serif;
          font-size: 14px;
          cursor: pointer;
          outline: none;
          box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
          margin: 0 10px 0px 10px;

          &:hover {
            opacity: .5;
          }


          &:last-of-type {
            background: #00aced;
          }

        }
      }
    }
  }


}